.center {
    width: 80%;
    right: 0;  
}

.con1 {
    height: 14vh;
    background-position: center;
    transform: translateY(55px);
}

.con1 h1 {
    margin-bottom: -15px;
}

.con2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    z-index: 999;
}

.bottom {
    bottom: 30px;
   
}

.bottom img {
    width: 70%;
}

.report-card {
    width: 15%;
    height: 15vh;
    background: linear-gradient(135deg,rgb(32, 32, 32), rgb(87, 87, 87), rgb(53, 53, 53));
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.7);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.report-card:hover {
    background: linear-gradient(135deg,rgb(58, 58, 58), rgb(92, 92, 92), rgb(83, 83, 83));
}

.report-card p {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    position: absolute;
    left: 20px;
    top: 5px;
}

.report-card img {
    width: 60px;
}

code {
    color: white;
    float: right;
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 2rem;
}
